# SPDX-FileCopyrightText: 2024 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

# Description:
# This workflow automates version bumping and changelog generation for your repository.
# It generates a changelog, commits it, and moves the latest tag to the current commit.
#
# How to use:
# 1. Add the following to your workflow file:
#    jobs:
#      version-bump-changelog:
#        uses: <orgname>/<reponame>/.github/workflows/<workflowname>.yml@main
#        with:
#          branch: "main" # Optional, default is "main"
#          changelog-config: "keepachangelog" # Optional, default is "keepachangelog"
#          minimal-changelog-config: "minimal" # Optional, default is "minimal"
#
# 2. Ensure your repository has the required secrets, listed in the job
# 
# secrets.OSPO_BOT_GHTOKEN
# secrets.OSPO_BOT_GPG_PRIV
# secrets.OSPO_BOT_GPG_PASS
#
# 3. The workflow will generate a changelog, commit it, and update the latest tag.
---
    name: Version Bump and Changelog Gen
    
    on:
      workflow_call: # yamllint disable-line rule:truthy
        inputs:
          branch:
            description: "Branch to checkout and work on (default: main)"
            required: false
            default: "main"
            type: string
          updatePom:
            description: "Whether to update a POM version (default: false)"
            required: false
            default: false
            type: boolean
          changelog-config:
            description: "Configuration for the full changelog (default: keepachangelog)"
            required: false
            default: ".github-templates/gitcliff-templates/keepachangelog.toml "
            type: string
          minimal-changelog-config:
            description: "Configuration for the minimal changelog (default: minimal)"
            required: false
            default: ".github-templates/gitcliff-templates/minimal.toml "
            type: string
          file_pattern:
            description: 'Pattern for files to commit, space separated (default: CHANGELOG.md)'
            required: false
            type: string
            default: 'CHANGELOG.md'
          egress-policy:
            description: "Egress policy for the Harden Runner step (e.g., audit, block)"
            required: false
            default: "audit"
            type: string
    
    permissions:
      contents: read
    
    jobs:
      bump-version:
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
          - name: Harden GitHub runner
            uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
            with:
              egress-policy: ${{ inputs.egress-policy }}
        
          - name: Checkout repository
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            with:
              fetch-depth: 0
              ref: ${{ inputs.branch }} 
              token: ${{ secrets.OSPO_BOT_GHTOKEN }} 
    
          - name: Import GPG key
            id: import-gpg
            uses: crazy-max/ghaction-import-gpg@cb9bde2e2525e640591a934b1fd28eef1dcaf5e5 # v6.2.0
            with:
              gpg_private_key: ${{ secrets.OSPO_BOT_GPG_PRIV }} 
              passphrase: ${{ secrets.OSPO_BOT_GPG_PASS }} 
              git_user_signingkey: true
              git_commit_gpgsign: true
              git_config_global: true

          - name: Update POM version
            if: ${{ inputs.updatePom }}
            env:
              GITHUB_ACTOR: ${{ github.actor }}
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            run: |
              echo "Tag: ${GITHUB_REF_NAME}"
              TAG="${GITHUB_REF_NAME#v}"
              echo "Version: ${TAG}"
              mvn $MAVEN_CLI_OPTS versions:set -DnewVersion="${TAG}" -DgenerateBackupPoms=false -DskipTests
          
          - name: Fetch git-cliff templates
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            with:
              repository: diggsweden/.github
              path: .github-templates
              ref: main

          - name: Generate changelog
            uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # v4.4.2
            with:
              config: ${{ inputs.changelog-config }} 
            env:
              OUTPUT: CHANGELOG.md
              GITHUB_REPO: ${{ github.repository }}
    
          - name: Generate minimal changelog
            id: minimal-changelog
            uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # v4.4.2
            with:
              config: ${{ inputs.minimal-changelog-config }}
              args: --latest --strip header
            env:
              GITHUB_REPO: ${{ github.repository }}
    
          - name: Commit and Push Changes
            uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5.1.0
            with:
              commit_message: |
                chore(release): ${{ github.ref_name }}
    
                ${{ steps.minimal-changelog.outputs.content }}
    
                [skip ci]
              file_pattern: ${{ inputs.file_pattern || 'CHANGELOG.md' }}
              commit_author: "${{ steps.import-gpg.outputs.name }} <${{ steps.import-gpg.outputs.email }}>"
              commit_user_name: ${{ steps.import-gpg.outputs.name }}
              commit_user_email: ${{ steps.import-gpg.outputs.email }}
              commit_options: " --signoff"
              skip_fetch: true
    
          - name: Move tag to current commit
            run: |
              LATEST_TAG=$(git describe --tags --abbrev=0)
    
              PREV_SHA=$(git rev-parse HEAD~1)
              TAG_SHA=$(git rev-list -n 1 "$LATEST_TAG")
    
              if [ "$TAG_SHA" = "$PREV_SHA" ]; then
                git tag -f -s "$LATEST_TAG" -m "$LATEST_TAG"
                git push --force origin "$LATEST_TAG"
              else
                echo "Tag $LATEST_TAG not pointing to previous commit as expected"
                exit 1
              fi